DOCTYPE
    html
        head
            meta(charset='utf-8')
        body
            h1
                a(href='/topic') Server Side JavaScript(node.js)
            ul
                each topic in topics /* jade iteration: "topics" is from /topic route. And "topic" is from here "each topic"*/
                    li
                        a(href = '/topic/'+ topic)= topic /*'/topic/' is a route defined in app.get('topic'). 'topic' a tag is value in 'each topic'. and "= topic" outside of "a" tag is a value of "each topic" */
            article
                h2= title
                = description
            div
                a(href='/topic/new') Type your programming language.
            
